/*Google Fonts*/
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@300&display=swap')

$userUIPanelAmount: 4
$userUISizeScale: 1

$canvasWidth: $userUISizeScale*244px
$canvasHeight: $userUISizeScale*84px
$userUIMargins: $userUISizeScale*4px
$userUICanvasBorder: $userUISizeScale*1px
$userUIBackgroundColor: dimgray

$iconSize: 20px

$userUIHeight: ($canvasHeight*4)+(($userUIMargins*$userUIPanelAmount*2)+$userUIMargins*3)+($userUICanvasBorder*($userUIPanelAmount - 1)*2)
$userUIWidth: $canvasWidth+($userUIMargins*2)+($userUICanvasBorder*2)

@mixin toolElement($color, $width)
    background-color: $color
    height: 100%
    width: $width

@mixin iconElement()
    width: 100%
    height: 33%
    img
        width: $iconSize
        height: $iconSize
        padding: 2px

@mixin canvasBorder()
    border: $userUICanvasBorder solid black
    border-radius: 5px

/*Everything*/
*
    margin: 0
    padding: 0
    font-family: 'Roboto Mono', monospace

/*Classes*/
.panel
    height: $canvasHeight
    width: $canvasWidth
    margin: $userUIMargins
    background-color: white

/*IDs*/
#wrapper
    height: 100%
    width: 100%
    min-height: $userUIHeight
    min-width: $userUIWidth

    position: absolute
    display: grid
    place-items: center

    background-color: black

#mainUI
    height: $userUIHeight
    width: $userUIWidth

    background-color: $userUIBackgroundColor

    border: 5px solid $userUIBackgroundColor
    border-radius: 15px

#picture2
    @include canvasBorder()

#picture1
    @include canvasBorder()

#inputCanvas
    @include canvasBorder()

#tools
    display: flex
    flex-direction: row

    #toolbarBig
        @include toolElement($userUIBackgroundColor, 100%)

        #get
            @include iconElement()

        #send
            @include iconElement()

        #reset
            @include iconElement()