/*Google Fonts*/
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@300&display=swap')

$userUIPanelAmount: 4
$userUISizeScale: 1

$canvasWidth: $userUISizeScale*256px
$canvasHeight: $userUISizeScale*69px
$userUIMargins: $userUISizeScale*4px

$userUIHeight: ($canvasHeight*4)+(($userUIMargins*$userUIPanelAmount)+$userUIMargins)
$userUIWidth: $canvasWidth+($userUIMargins*2)

/*Everything*/
*
    margin: 0
    padding: 0
    font-family: 'Roboto Mono', monospace

/*Classes*/
.panel
    height: $canvasHeight
    width: $canvasWidth

    margin: $userUIMargins

    background-color: blueviolet

/*IDs*/
#wrapper
    height: 100%
    width: 100%
    min-height: $userUIHeight
    min-width: $userUIWidth

    position: absolute
    display: grid
    place-items: center

#mainUI
    height: $userUIHeight
    width: $userUIWidth

    background-color: aqua
