/*Google Fonts*/
@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@300&display=swap");
/*Everything*/
* {
  margin: 0;
  padding: 0; }

/*HTML Elements*/
p {
  font-family: 'Roboto Mono', monospace;
  text-align: center;
  padding: 5px; }

/*Classes*/
.canvasDisplay {
  margin-top: 1%;
  width: 256px;
  height: 192px;
  border: 2px solid dimgrey;
  background-color: white;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5); }

.flexBar {
  height: 90vh; }

.tool button {
  background-color: dimgrey;
  border: 2px solid white;
  border-radius: 15px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 10px; }

.tool img {
  width: 55px;
  height: 55px; }

.tool div {
  padding: 5px 5px 5px 20px; }

/*IDs*/
#header {
  z-index: 1;
  width: 100vw;
  height: 5vh;
  min-height: 15px;
  background-color: gray; }

#footer {
  z-index: 2;
  width: 100vw;
  height: 5vh;
  min-height: 15px;
  background-color: gray; }

#mainScreen {
  display: flex;
  flex-direction: row;
  align-content: center; }

#chats {
  width: 25vw;
  background-color: lightgray; }

#doodleScreen {
  width: 75vw; }

#chatHistory {
  height: 60%;
  background-color: dimgrey; }

#toolBox {
  height: 40%;
  display: flex;
  flex-direction: row; }

#drawArea {
  width: 60%;
  height: 100%;
  min-width: 260px;
  min-height: 196px;
  background-color: darkgrey;
  display: flex;
  justify-content: center;
  align-content: center; }

#tools {
  width: 40%;
  height: 100%;
  background-color: white; }
