/*Google Fonts*/
@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@300&display=swap");
/*Everything*/
* {
  margin: 0;
  padding: 0;
  font-family: 'Roboto Mono', monospace; }

/*Classes*/
.panel {
  height: 96px;
  width: 256px;
  margin: 4px;
  background-color: white; }

/*IDs*/
#wrapper {
  height: 100%;
  width: 100%;
  min-height: 428px;
  min-width: 264px;
  position: absolute;
  display: grid;
  place-items: center; }

#mainUI {
  height: 428px;
  width: 264px;
  background-color: dimgray; }

#tools {
  display: flex;
  flex-direction: row; }
  #tools #toolbarSmall {
    background-color: gray;
    height: 100%;
    width: 5%; }
  #tools #keyboard {
    background-color: darkgray;
    height: 100%;
    width: 80%; }
  #tools #toolbarBig {
    background-color: lightgray;
    height: 100%;
    width: 15%; }
    #tools #toolbarBig #get {
      width: 100%;
      height: 33%; }
      #tools #toolbarBig #get img {
        width: 100%;
        height: 100%; }
    #tools #toolbarBig #send {
      width: 100%;
      height: 33%; }
      #tools #toolbarBig #send img {
        width: 100%;
        height: 100%; }
    #tools #toolbarBig #reset {
      width: 100%;
      height: 33%; }
      #tools #toolbarBig #reset img {
        width: 100%;
        height: 100%; }
