/*Google Fonts*/
@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@300&display=swap");
/*Everything*/
* {
  margin: 0;
  padding: 0;
  font-family: 'Roboto Mono', monospace; }

/*Classes*/
.panel {
  height: 69px;
  width: 256px;
  margin: 4px;
  background-color: blueviolet; }

/*IDs*/
#wrapper {
  height: 100%;
  width: 100%;
  min-height: 296px;
  min-width: 264px;
  position: absolute;
  display: grid;
  place-items: center; }

#mainUI {
  height: 296px;
  width: 264px;
  background-color: aqua; }
