@use "../abstracts/colors" as col
@use "../abstracts/variables" as var

aside
  display: flex
  @media (max-width: map-get(var.$screenSize, "md"))
    height: 10vh
    width: 100vw
  height: 100vh
  width: 25vw
  @media (min-width: map-get(var.$screenSize, "md"))
    justify-content: center
  background-color: map-get(col.$slate, "400")
  @media (prefers-color-scheme: dark)
    background-color: map-get(col.$slate, "600")

  div
    display: flex
    height: 100%
    width: 90%
    @media (max-width: map-get(var.$screenSize, "md"))
      align-self: center
      margin-left: 5px
    @media (min-width: map-get(var.$screenSize, "md"))
      flex-flow: column nowrap
    align-self: flex-start

    img
      border-radius: 10%
      @media (max-width: map-get(var.$screenSize, "md"))
        height: 80%
        width: auto
      align-self: center
      width: 70%
      height: auto
      @media (min-width: map-get(var.$screenSize, "md"))
        margin-top: 10px
        justify-self: center

    p
      margin-top: 5px
      @media (max-width: map-get(var.$screenSize, "md"))
        display: none
      text-align: center
      font-weight: bolder
      color: map-get(col.$slate, "600")
      @media (prefers-color-scheme: dark)
        color: map-get(col.$slate, "800")

    hr
      @media (min-width: map-get(var.$screenSize, "md"))
        margin-top: 10px
      border: solid 1px map-get(col.$slate, "500")
      @media (prefers-color-scheme: dark)
        border-color: map-get(col.$slate, "700")
        border-width: 0.5px
      @media (max-width: map-get(var.$screenSize, "md"))
        height: 80%
        margin-left: 5px
        align-self: center